# Dependencias
node_modules
.pnpm-store/
.history

# Compilaciones
dist
build
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db

# Testing
coverage

# Archivos de bloqueo (opcional, según tu política)
# pnpm-lock.yaml